﻿@model IEnumerable<HealthcareIntervention.Models.ForumPost>

@{
    ViewBag.Title = "Index";
    HealthcareIntervention.Models.ForumPostViewModel ForumPostViewModel = new HealthcareIntervention.Models.ForumPostViewModel();
    ForumPostViewModel.ThreadID = ViewBag.ThreadID;
}

<h2>Posts</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.TextAreaFor(modelItem => item.Content, 5, 100, new { @disabled = true }) <br />
                <div class="list-inline">
                    @Html.DisplayFor(modelItem => item.Author)
                    @Html.DisplayFor(modelItem => item.PostingTime)
                </div>
               
            </td>
        </tr>
    }
</table>
@Html.Partial("Create", ForumPostViewModel)


