﻿@model HealthcareIntervention.Models.NurseAddPatientsViewModel

<h2>@Model.StudyName</h2>
@using (Html.BeginForm("AddPatients", "Studies", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
     
        @Html.HiddenFor(model => model.StudyId)
        <div class="form-group">
            @Html.Label("Nurses", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Nurses != null)
                {

                    for (var i = 0; i < Model.Nurses.Count(); i++)
                    {
                        <div class="checkbox">
                            @Html.DisplayFor(m => Model.Nurses[i].FirstName)
                            @Html.Raw(" ")
                            @Html.DisplayFor(m => Model.Nurses[i].LastName)
                        </div>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Volunteers: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Nurses != null)
                {
                    <table class="table">
                        <tr>
                            <th>Select</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Date Confirmed</th>
                            <th>Start Date</th>
                        </tr>
                    @for (var j= 0; j < Model.Patients.Count(); j++)
                    {<tr>
                         <td>
                             <div class="checkbox">@Html.EditorFor(m => Model.Patients[j].check)</div>
                         </td>
                        <td>
                            @Html.DisplayFor(m => Model.Patients[j].FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => Model.Patients[j].LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(m => Model.Patients[j].Email)
                        </td>
                        <td>
                            <div class="checkbox">@Html.EditorFor(m => Model.Patients[j].ConfirmedStartDate)</div>
                        </td>
                         <td>
                             @Html.TextBoxFor(m => Model.Patients[j].StartDate, null, new { @required = "required", @class = " datepicker1" })
                         </td>
                     </tr>  
                        @Html.HiddenFor(m => Model.Patients[j].Id)
                        @Html.HiddenFor(m => Model.Patients[j].FirstName)
                        @Html.HiddenFor(m => Model.Patients[j].LastName)
                    }
               </table>
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Back to home", "Index","Home")
</div>

