﻿@model HealthcareIntervention.Models.AdminCreateStudyViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Study</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.StudyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Messages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Messages)
        </dd>

        <dt>
            @Html.DisplayName("Blasts")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Announcements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        
        <dt>
            @Html.Label("Nurses")
        <dt/>
            <dd>
                @if (Model.Nurses != null)
                {

                    for (var i = 0; i < Model.Nurses.Count(); i++)
                    {
                        <div>
                            @Html.DisplayFor(m => Model.Nurses[i].check)
                            @Html.Raw(" ")
                            @Html.HiddenFor(m => Model.Nurses[i].Id)
                            @Html.DisplayFor(m => Model.Nurses[i].FirstName)
                            @Html.Raw(" ")
                            @Html.DisplayFor(m => Model.Nurses[i].LastName)
                        </div>
                    }
                }
            </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
