﻿@model IEnumerable<HealthcareIntervention.Models.Study>

<h1>Study selection</h1>
<h3>Select a study to continue</h3>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.StudyName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.StudyName)
        </td>
       
        <td>
            @Html.ActionLink("Select","StudySelected", "Studies", new { id=item.StudyId },null) 
            
        </td>
    </tr>
}

</table>
