﻿@model IEnumerable<HealthcareIntervention.Models.Event>
<table class="table">
    <tr>
        <th>@Html.Label("Time", htmlAttributes: new { @class = "control-label " })</th>
        <th>@Html.Label("Event Name", htmlAttributes: new { @class = "control-label " })</th>
        <th>@Html.Label("Event Type", htmlAttributes: new { @class = "control-label " })</th>
        <th></th>
    </tr>
    @foreach ( var Blast in Model)
    {
        <tr>
            <td>
                @Blast.Time.ToShortTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => Blast.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Blast.EventType)
            </td>
            <td>
                @Html.ActionLink("Delete","Delete","AnnouncementMessages", new { id = Blast.AnnouncementId },null)
            </td>
        </tr>
    }

</table>
