﻿@model HealthcareIntervention.Models.StudyPlanViewModel
<h2>Study Plan</h2>
<h3>@Model.Study.StudyName</h3>
<div class="form-horizontal">
    <table class="table">
        <tr >
            <th>@Html.Label("Day", htmlAttributes: new { @class = "control-label " })</th>
            <th>@Html.Label("Events", htmlAttributes: new { @class = "control-label " })</th>
        </tr>
        @if (Model.Days != null)
        {
            for (var i = 0; i < Model.Days.Count(); i++)
            {
                <tr>
                    <td class="col-lg-4">@*First Coloumn*@
                        @Html.DisplayFor(m => Model.Days[i])
                    <a href="@Url.Action("AddDay","AnnouncementDays",new { id=Model.Days[i].Day })">
                        <span class="glyphicon glyphicon-plus col-lg-offset-1"></span>
                    </a>
                    <a href="@Url.Action("RemoveDay","AnnouncementDays",new { id=Model.Days[i].Day })">
                        <span class="glyphicon glyphicon-minus col-lg-offset-1 "></span>
                    </a>
                    @Html.ActionLink("Add an event","Create","AnnouncementMessages",new { id=Model.Days[i].Day}, htmlAttributes: new { @class = "pull-right"})
                    </td>
                    <td> @*Second Coloumn*@
                        @Html.Partial("_EventListings",Model.Days[i].Events)
                    </td>
            </tr>
            }
        }
        <tr>
            <td>@Html.ActionLink("Add a Day", "AddDay", "AnnouncementDays")</td>
            <td></td>
        </tr>
    </table>
</div>