﻿@*<li>@Html.ActionLink("Blasts", "Blasts", "Home")</li>
<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Forum", "Forum", "Home")</li>
<li>@Html.ActionLink("Messages", "Messages", "Home")</li>*@
<li>@Html.ActionLink("Study","Index","Studies")</li>
<li>@Html.ActionLink("Users", "UserRoles", "Home")</li>

