﻿@*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
@if (Session["Announcements"] != null && Session["Announcements"].ToString() == "True")
{
    string blastCount = null;

    <li>
       @if (Session["UnreadBlasts"] != null && (Convert.ToInt32(Session["UnreadBlasts"].ToString()) > 0))
       {
           blastCount= Session["UnreadBlasts"].ToString();
       }
            @Html.ActionLink("Blasts" + blastCount, "BlastIndexForNurses", "BlastResponse")
      </li>


}
        @if(Session["Forum"] != null && Session["Forum"].ToString() == "True")
    {
            <li> @Html.ActionLink("Forum", "Index", "ForumThreads") </li>
        }
        @if(Session["Messages"] != null && Session["Messages"].ToString() == "True")
{
            string msgcount = null;
    <li>
            @if(Session["UnreadMessages"] != null && (Convert.ToInt32(Session["UnreadMessages"].ToString()) > 0))
                {
                msgcount = Session["UnreadMessages"].ToString();
            }
            @Html.ActionLink("Messages " + msgcount, "SelectPatients", "Messages")
                @*@Html.Label(Session["UnreadMessages"].ToString(), htmlAttributes: new { @class = "menu-count" })*@
            </li>
}
@if (Session["StudyId"] != null)
{
    <li>@Html.ActionLink("Manage Users", "AddPatients", "Studies")</li>
    <li>@Html.ActionLink("Study Plan", "GetStudyPlan", "StudyPlans")</li>
    <li>@Html.ActionLink("Change Study", "SelectStudy", "Studies")</li>
}

