﻿@if (Session["Announcements"] != null && Session["Announcements"].ToString() == "True")
{
    string blastCount = null;

    <li>
       @if (Session["UnreadBlasts"] != null && (Convert.ToInt32(Session["UnreadBlasts"].ToString()) > 0))
       {
           blastCount= Session["UnreadBlasts"].ToString();
       }
            @Html.ActionLink("Blasts  "+blastCount, "BlastIndexForPatient", "BlastResponse")
      </li>


}
@if (Session["Forum"] != null && Session["Forum"].ToString() == "True")
{<li>@Html.ActionLink("Forum", "VolunteerIndex", "ForumThreads")</li>}
@if (Session["Messages"] != null && Session["Messages"].ToString() == "True")
{
    string msgcount = null;
    <li>
        @if (Session["UnreadMessages"] != null && (Convert.ToInt32(Session["UnreadMessages"].ToString()) > 0))
                {
                    msgcount = Session["UnreadMessages"].ToString();
                }
    @Html.ActionLink("Messages "+ msgcount, "SelectNurses", "Messages")
    </li>}