﻿@using HealthcareIntervention.Controllers
@using HealthcareIntervention.Models
@model RoleManagerViewModel
@{
    ViewBag.Title = "Change Role";
}

<h2>Manage Roles</h2>
Current Role: 
@foreach (var role in @Model.RoleNames)
{
    @role
}
<br>
    @Html.Action("RoleBar", "Account", Model.Id)
<br>
<br />
@Html.ActionLink("back", "UserRoles", "Home")