﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.MsgTextBox{
    max-width:80%;
  }
.menu-count{
    color:white;
    
}
.fixed-header{
     position: absolute;
    
}
.AlignCenter{
    align-content:center;
}
.overflow{
    overflow-y: auto;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('~/App_Data/Images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
