﻿@model IEnumerable<HealthcareIntervention.Models.BlastListing>
    <h2>Blasts</h2>
    <h4>Choose the Blast message you want to respond to</h4>
<table class="table">
    <tr>
        <td>
            @Html.Label("Blast Message")
        </td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("WriteResponse","BlastResponse",new { id=item.BlastScheduleId })">
                    @Html.DisplayFor(modelItem => item.BlastName)
                </a>
            </td>
        </tr>
    }
</table>