﻿@model IEnumerable<HealthcareIntervention.Models.BlastListingNurseEntries>

@{
    ViewBag.Title = "Index";
}

<h2>Patients in the study</h2>


<table class="table">

    <tr>
        <th>
            @Html.Label("Name")
        </th>
        <th>
            @Html.Label("Unread Blasts")
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("ViewResponse","BlastResponse",new { id=item.UserName })">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
                
            </td>
            <td>
                @Html.DisplayFor(m => item.unread)
            </td>
        </tr>
    }

</table>


