﻿@model HealthcareIntervention.Models.BlastResponseChooseOne
<h2>Blast Message</h2>
@using (Html.BeginForm("ChooseOneOption", "BlastResponse", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="table-bordered table">
        @Html.HiddenFor(m => m.BlastScheduleId)
        @Html.DisplayFor(m => m.Question)
    </div>
    <div class="tab-content ">
       @foreach(var item in Model.Responses)
       {
           <div class="list-inline">
               @Html.RadioButtonFor(m => m.Response, item)
               @Html.Label(item)
           </div>        
       }
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Done" class="btn btn-default" />
        </div>
    </div>
}
