﻿@model HealthcareIntervention.Models.BlastResponseSelectMany
<h2>Blast Message</h2>
@using (Html.BeginForm("ChooseManyOption", "BlastResponse", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="table-bordered table">
        @Html.HiddenFor(m => m.BlastScheduleId)
        @Html.DisplayFor(m => m.Question)
    </div>
    <div class="tab-content ">
        @for(var i = 0; i < Model.Options.Count(); i++)
        {
            <div class="list-inline">
                <div class="checkbox">
                    @Html.EditorFor(m => Model.Options[i].Selection)
                    @Html.DisplayFor(m=>Model.Options[i].Text)
                    @Html.HiddenFor(m=>Model.Options[i].Text)
                </div>
            </div>
        }
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Done" class="btn btn-default" />
        </div>
    </div>
}

