﻿@model HealthcareIntervention.Models.BlastResponseTextOnly
<h2>Blast Message</h2>
@using (Html.BeginForm("BlastResponseTextOnly", "BlastResponse", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()
    <div class="table-bordered table">
        @Html.HiddenFor(m => m.BlastScheduleId)
        @Html.DisplayFor(m => m.Text)
     </div>
     <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Done" class="btn btn-default" />
            </div>
     </div>
}
