﻿@model HealthcareIntervention.Models.BlastResponseTextWithResponse
<h2>Blast Message</h2>
@using (Html.BeginForm("BlastResponseTextWithReply", "BlastResponse", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="table-bordered table">
        @Html.HiddenFor(m => m.BlastScheduleId)
        @Html.DisplayFor(m => m.Text)       
    </div>
    <div class="tab-content">
        @Html.TextAreaFor(m => m.Response,5, 100,null)
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Done" class="btn btn-default" />
        </div>
    </div>
}

