﻿@model HealthcareIntervention.Models.BlastResponses
    <h2>Blast Response</h2>
<h4>@ViewBag.Name</h4>
@Html.ActionLink("Message me","Index","Messages", new { id = Model.UserId },null)
<div>
    
    <hr />
<div class="tab-pane">
    <h4 class="text-info">Responded</h4>
    @if (Model.Answered.Count == 0)
    {
        @Html.Label("No responses yet!")
    }
    @foreach (var item in Model.Answered)
    {      <div class="table-bordered">
               <div class="label-default ">
                   <span class="glyphicon glyphicon-question-sign "></span>
                   @Html.DisplayFor(m => item.Question)
                   @if (item.New == true)
                   {
                       @Html.Label("New", htmlAttributes: new { @class = "text-danger" })
                   }
                   <br />
                   @Html.DisplayFor(m => item.SendTime)
               </div>
         @if (item.Answer != null)
            {
                <div>
                    @Html.DisplayFor(m => item.Answer)<br />
                    @Html.DisplayFor(m => item.ReadTime)
                </div>
            }                             
            </div>               
     }
</div>
    <div class="tab-pane">
        <h4 class="text-info">Blasts to be delivered</h4>
        @if (Model.UnAnswered.Count == 0)
        {
            @Html.Label("All done!")
        }
        @foreach (var item in Model.UnAnswered)
        {      <div class="table-bordered">
            <div>
                <span class="glyphicon glyphicon-question-sign "></span>
                @Html.DisplayFor(m => item.Question)
                <br />
                @Html.DisplayFor(m => item.SendTime)
            </div>            
        </div>
        }
    </div>
</div>
