﻿@{
    ViewBag.Title = "Home Page";
 
}

<div class="jumbotron">
    <h1>mHealth</h1>
    <p class="lead">A place to be healthy.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>University of Nebraska Medical Center</h2>
        <h4>College of Nursing, Lincoln</h4>
    </div>
    <div class="col-md-6">
        <h2>University of Nebraska, Lincoln</h2>
        <h4>
            Department of Computer Science and Engineering
        </h4>        
    </div>  
    
</div>