﻿@using HealthcareIntervention.Models
@model IEnumerable<UserRoleViewModel>
@{
    ViewBag.Title = "UserRoles";
}

<h2>User Roles</h2>
<table id="Users" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
   
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.FirstName
                        @user.LastName

                    </td>
                    <td>
                        @user.Email
                    </td>
                    
                    <td>
                        @Html.ActionLink("Manage Role", "GetRole", "Account", new { id = user.Id }, null)
                    </td>
                </tr>

            }
       
      
        
    </thead>
    <tbody>
    
    </tbody>
</table>


