﻿@model HealthcareIntervention.Models.BlastTemplateOptionsCreate
    <h1>Blast with options</h1>
@if (ViewBag.Question != null)
{
    <h4>@ViewBag.Question</h4>
}
 <table class="table">
        <tr>
            <th>
                @Html.Label("Options")
            </th>
        </tr>
        @foreach (var item in Model.ExistingOptions)
        {
            <tr>
                <td>
                    @item.Option
                </td>
            </tr>
        }
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.HiddenFor(m => m.NewOptions.AnnouncementMessageId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("New Option", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.NewOptions.Option, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewOptions.Option, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </div>
        </div>
        <a href="@Url.Action("GetStudyPlan","StudyPlans")">
            <input type="button" value="Finish" />

        </a>

    }
