﻿@model IEnumerable<HealthcareIntervention.Models.ForumThread>

@{
    ViewBag.Title = "Index";
}

<h2>Threads</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

@foreach (var item in Model) {
    <tr>
        <td><a href="@Url.Action("Index","ForumPosts",new { id=item.ForumThreadId })">
                @Html.DisplayFor(modelItem => item.ThreadName)
            </a>
</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ForumThreadId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ForumThreadId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ForumThreadId })
        </td>
    </tr>
}

</table>
