﻿@model IEnumerable<HealthcareIntervention.Models.ForumThread>

@{
    ViewBag.Title = "Index";
}

<h2>Threads</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("VolunteerIndex","ForumPosts",new { id=item.ForumThreadId })">
                    @Html.DisplayFor(modelItem => item.ThreadName)
                </a>
            </td>
        </tr>
    }

</table>

