﻿@model HealthcareIntervention.Models.SendMessageViewModel





@using (Html.BeginForm("Create", "Messages", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model=>model.ReceiverId)
    <div  class="form-inline">
        <table class="table">      
            <tr>
                <td>
                    
                    @Html.TextAreaFor(model => model.Content, 5, 1000, htmlAttributes: new { @class = "form-control pull-right" })
                    
                    <input type="submit" value="Send" class="btn btn-default pull-right "/>
                </td>
            </tr>
            
        </table>
          
            
        </div>
 
}


