﻿@model IEnumerable<HealthcareIntervention.Models.Message>


@{ 
    HealthcareIntervention.Models.SendMessageViewModel Send = new HealthcareIntervention.Models.SendMessageViewModel();
    Send.ReceiverId = ViewBag.ReceiverId;
}

    <h2 >@ViewBag.OtherEnd</h2>

<div class="form-horizontal " >
    <table class="table">
   

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Receiver.Id == ViewBag.ReceiverId)
                    {
                        <div class="form-group pull-right">
                            @Html.TextAreaFor(modelItem => item.Content, 5, 100, new { @disabled = true }) <br />
                            @Html.DisplayFor(modelItem => item.SendTime)<br />
                            @if (item.Read)
                            {
                                <span class="glyphicon glyphicon-thumbs-up col-sm-1"></span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="form-group ">
                            @Html.TextAreaFor(modelItem => item.Content, 5, 1000, new { @disabled = true }) <br />
                            @Html.DisplayFor(modelItem => item.SendTime)<br />
                        </div>
                    }


                </td>
                
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MessageID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MessageID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MessageID })
                </td>*@
            </tr>
        }
    </table>
    @Html.Partial("Create", Send)

</div>
<script>
    window.scrollTo(0, document.body.scrollHeight);
</script>