﻿@model IEnumerable<HealthcareIntervention.Models.SelectPatientsViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
        </th>
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>
                <a href="@Url.Action("Index","Messages",new { id=item.id })">
                   @Html.DisplayFor(modelItem => item.Name)
                    </a>
            </td>
            <td>
                @if(item.count > 0){ 
                @Html.DisplayFor(m => item.count)
                }
                
            </td>
        </tr>
    }
</table>

