﻿@model HealthcareIntervention.Models.AnnouncementMessageViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create Blast Message</h2>

@using (Html.BeginForm("Create", "AnnouncementMessages", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
   
        <hr />
       
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.AnnouncementName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AnnouncementName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AnnouncementName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-sm-10">
            
                @Html.DropDownListFor(m=>Model.Hour, Model.Hours, new { htmlattributes = new { @class = "btn" } })
                @Html.Label(":mm")
                @Html.DropDownListFor(m => Model.Minute, Model.Minutes, new { htmlattributes = new { @class = "btn" } })
                @Html.Label("AM")
                @Html.RadioButtonFor(m => Model.AMorPM, "AM", new { @checked = true })
                @Html.Label("PM")
                @Html.RadioButtonFor(m => Model.AMorPM, "PM")
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BlastType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               <div class="list-group">
                   <div class="list-group-item">
                       @Html.RadioButtonFor(model => model.BlastType, "TextOnly", new { @checked = "checked" })
                       @Html.Label("Text Only",new { htmlattributes = new { @class = "list-group-item-text" }})
                   </div>
                   <div class="list-group-item">
                       @Html.RadioButtonFor(model => model.BlastType, "TextWithResponse")
                       @Html.Label("Text With Response", new { htmlattributes = new { @class = "list-group-item-text" } })
                   </div>
                   <div class="list-group-item">
                       @Html.RadioButtonFor(model => model.BlastType, "ChooseOneFromList")
                       @Html.Label("Pick one from a list", new { htmlattributes = new { @class = "list-group-item-text" } })
                   </div>
                   <div class="list-group-item">
                       @Html.RadioButtonFor(model => model.BlastType, "ChooseSeveralFromList")
                       @Html.Label("Pick many from a list", new { htmlattributes = new { @class = "list-group-item-text" } })
                   </div>
               </div>
            </div>
        </div>
        @*@Html.HiddenFor(m => Model.Hours)
        @Html.HiddenFor(m => Model.Minutes)*@
        @Html.HiddenFor(m => Model.AnnouncementDay)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "GetStudyPlan", "StudyPlans")
</div>
